@import url("fonts.css");
/* Reset CSS*/
@import url("reset.css");

/* Пракика з вивченими елементами */
.practice {
   margin: 0 auto;
   width: 100%;
   background-color: #d8d87793;
   padding: 30px;
   text-align: center;
   text-transform: uppercase;
   font-size: 0;
}
.practice__title {
   margin-bottom: 50px;
   font-size: 50px;
}
.practice p {
   font-size: 30px;
   font-weight: 800;
   margin-bottom: 25px;
}
.practice__row {
   background-color: #d8d87793;
   border: 10px #510daa93 solid;
   padding: 20px;
   margin-bottom: 50px;
}
.verical-align {
   width: 100%;
}
.vertical-align__item {
   display: inline-block;
   vertical-align: top;
}
.practice .vertical-align__item {
}
.practice__row .img {
   width: 200px;
   height: 200px;
   background: url(../img/negative.jpg) center/80% no-repeat;
}
.practice__row li,
a {
   font-weight: 600;
   font-size: 20px;
   margin-bottom: 20px;
}

.hover:hover {
   width: 200px;
   height: 200px;
   background: url(../img/positive.jpg) center/80% no-repeat;
}

.active:active {
   width: 200px;
   height: 200px;
   background: url(../img/positive.jpg) center/80% no-repeat;
}

.visited:visited {
   color: #d8d87793;
}

.focus:focus {
   width: 200px;
   height: 200px;
   background: url(../img/positive.jpg) center/80% no-repeat;
}
.target:target {
   width: 200px;
   height: 200px;
   background: url(../img/positive.jpg) center/80% no-repeat;
}
.target a {
   background-color: c#d8d8776e;
}
.figure {
   height: 30px;
   width: 30px;
   background-color: #ff0000;
   margin-right: 30px;
   border-radius: 50%;
}
.last-child .figure:last-child {
   background-color: green;
   border-radius: 0%;
}
.first-child .figure:first-child {
   background-color: green;
   border-radius: 0%;
}
.nth-child .figure:nth-child(2),
.nth-child .figure:nth-child(5),
.nth-child .figure:nth-child(12) {
   background-color: green;
   border-radius: 0%;
}
.odd .figure:nth-child(odd) {
   background-color: green;
   border-radius: 0%;
}
.nth .figure:nth-child(3n + 1) {
   background-color: green;
   border-radius: 0%;
}
.nth-not .figure:not(:nth-child(3n + 1)) {
   background-color: green;
   border-radius: 0%;
}

.before-after li::before {
   content: "";
   display: inline-block;
   height: 30px;
   width: 30px;
   margin-right: 30px;
   background-color: red;
   border-radius: 50%;
}
.before-after li::after {
   content: "";
   display: inline-block;
   height: 30px;
   width: 30px;
   background-color: #ff0000;
   margin-right: 30px;
   border-radius: 50%;
   opacity: 0;
}
.before-after li:hover::before {
   background-color: red;
   border-radius: 50%;
   opacity: 0;
}

.before-after li:hover::after {
   opacity: 1;
}
.before-after li:nth-child(2)::after {
   background-color: yellow;
}
.before-after li:nth-child(3)::after {
   background-color: green;
}
.before-after li:nth-child(2)::before {
   background-color: yellow;
}
.before-after li:nth-child(3)::before {
   background-color: green;
}




