@import url("fonts.css");
/* Reset CSS*/
@import url("reset.css");

/* Практика з вивченими елементами */
.practice {
   margin: 0 auto;
   width: 100%;
   background-color: #d8d87793;
   padding: 30px;
   text-align: center;
   text-transform: uppercase;
   font-size: 0;
}
.practice__title {
   margin-bottom: 50px;
   font-size: 50px;
}
.practice p {
   font-size: 30px;
   font-weight: 800;
   margin-bottom: 25px;
}
.practice__row {
   background-color: #d8d87793;
   border: 10px #510daa93 solid;
   padding: 20px;
   margin-bottom: 50px;
   border-radius: 50px;
}
.verical-align {
   width: 100%;
}
.vertical-align__item {
   display: inline-block;
   vertical-align: top;
}
.practice .vertical-align__item {
}
.practice__row .img {
   width: 200px;
   height: 200px;
   background: url(../img/negative.jpg) center/80% no-repeat;
}
.practice__row li,
a {
   font-weight: 600;
   font-size: 20px;
   margin-bottom: 20px;
}

.hover:hover {
   width: 200px;
   height: 200px;
   background: url(../img/positive.jpg) center/80% no-repeat;
}

.active:active {
   width: 200px;
   height: 200px;
   background: url(../img/positive.jpg) center/80% no-repeat;
}

.visited:visited {
   color: #d8d87793;
}

.focus:focus {
   width: 200px;
   height: 200px;
   background: url(../img/positive.jpg) center/80% no-repeat;
}
.target:target {
   width: 200px;
   height: 200px;
   background: url(../img/positive.jpg) center/80% no-repeat;
}
.target a {
   background-color: #d8d8776e;
}
.figure {
   height: 30px;
   width: 30px;
   background-color: #ff0000;
   margin-right: 30px;
   border-radius: 50%;
}
.last-child .figure:last-child {
   background-color: green;
   border-radius: 0%;
}
.first-child .figure:first-child {
   background-color: green;
   border-radius: 0%;
}
.nth-child .figure:nth-child(2),
.nth-child .figure:nth-child(5),
.nth-child .figure:nth-child(12) {
   background-color: green;
   border-radius: 0%;
}
.odd .figure:nth-child(odd) {
   background-color: green;
   border-radius: 0%;
}
.nth .figure:nth-child(3n + 1) {
   background-color: green;
   border-radius: 0%;
}
.nth-not .figure:not(:nth-child(3n + 1)) {
   background-color: green;
   border-radius: 0%;
}

.before-after li::before {
   content: "";
   display: inline-block;
   height: 30px;
   width: 30px;
   margin-right: 30px;
   background-color: red;
   border-radius: 50%;
}
.before-after li::after {
   content: "";
   display: inline-block;
   height: 30px;
   width: 30px;
   background-color: #ff0000;
   margin-right: 30px;
   border-radius: 50%;
   opacity: 0;
}
.before-after li:hover::before {
   background-color: red;
   border-radius: 50%;
   opacity: 0;
}

.before-after li:hover::after {
   opacity: 1;
}
.before-after li:nth-child(2)::after {
   background-color: yellow;
}
.before-after li:nth-child(3)::after {
   background-color: green;
}
.before-after li:nth-child(2)::before {
   background-color: yellow;
}
.before-after li:nth-child(3)::before {
   background-color: green;
}
.game {
   font-size: 0;
   display: inline-block;
   background-color: #00ffff;
   width: 500px;
   height: 500px;
   border: 5px solid #00ffff;
   outline: 10px #510daa93 solid;
   border-radius: 50px;
   padding: 25px;
   text-align: initial;
}
.game__start-button {
   display: inline-block;
   width: 100%;
   height: 100%;
   padding: 5px;
   color: rgb(192, 192, 192);
   font-size: 75px;
   border: 3px black solid;
   border-radius: 20px;
   background-color: #010101;
   text-align: center;
}

.game__start-button:hover {
   background-color: #00ffff;
}

.game:target {
   background-color: black;
}
.game:target .line:first-child {
   visibility: visible;
}
.game:target .game__start-button {
   display: none;
}
.line {
   border: 2px soid #ff0000;
   width: 50px;
   height: 50px;
   background-color: #00ffff;
   margin: initial;
}
.line:first-child {
   display: inline-block;
   background-color: green;
}
.line:nth-child(2) {
   display: inline-block;

   width: 390px;
}
.line:nth-child(3) {
   display: inline-block;
   margin-left: 400px;
   width: 40px;
   height: 150px;
}
.line:nth-child(4) {
   display: inline-block;
   width: 100%;
   height: 30px;
   margin-top: -5px;
}
.line:nth-child(5) {
   display: inline-block;
   width: 20px;
   height: 150px;
}
.line:nth-child(6) {
   display: inline-block;
   width: 80%;
   height: 10px;
}
.line:nth-child(7) {
   display: inline-block;
   width: 50px;
   height: 25px;
   background-color: red;
}
.game__lines {
   visibility: hidden;
}

.line:first-child:hover + .line:nth-child(2),
.line:nth-child(2):hover {
   visibility: visible;
}
.line:nth-child(2):hover + .line:nth-child(3),
.line:nth-child(3):hover {
   visibility: visible;
}
.line:nth-child(3):hover + .line:nth-child(4),
.line:nth-child(4):hover {
   visibility: visible;
}
.line:nth-child(4):hover + .line:nth-child(5),
.line:nth-child(5):hover {
   visibility: visible;
}
.line:nth-child(5):hover + .line:nth-child(6),
.line:nth-child(6):hover {
   visibility: visible;
}
.line:nth-child(6):hover + .line:nth-child(7),
.line:nth-child(7):hover {
   visibility: visible;
}

.game__finish-button {
   visibility: hidden;
   width: 100%;
   height: 100%;
   font-size: 14px;
}
.line:nth-child(7):hover > a {
   visibility: visible;
}
