@import url(reset.css);

body {

}
.container {
   max-width: 80%;
   margin: 0 auto;
   padding: 50px 150px;
   background-color: #00000009;
}
h1 {
   font-size: 50px;
   padding: 50px;
   background-color: #d5c86681;
   margin-bottom: 100px;
}
.row {
   margin-bottom: 50px;
   padding: 50px;
}
.container > div:nth-of-type(2) {
   background-color: #0000004b;
}
h2 {
   font-size: 40px;
   margin-bottom: 25px;
}
img  {
   margin: 10px;
}
.container div:nth-of-type(3) img {
   width: 75%;
}
